<head>
  #<!-- link rel="stylesheet" type="text/css" href="app/stylesheets/sessions.scss"> -->
</head>
<body>
    <title>Benaia Motors</title>
    <p>Bem Vindo</p>
    <h1>Sessions#create</h1>
</body>

<% #Find me in app/views/sessions/create.html.erb %>