
<<IMG class="displayed" src="https://www.benaiamotors.com.br/sites/default/files/logo.png" alt="logo"><br />

<head>
  <link rel="stylesheet" href="app/stylesheets/sessions.css">
</head>
<body>
  <%= form_tag sessions_path :class =>'txts' do %>
  <div class="form">
    <%= text_field_tag :class => 'txts'%><br />
    <br />
    <%= password_field_tag :class => 'txts'%><br />
    <br />
    <%= submit_tag "Logar", :id => 'loginbtn' %><br />
    <% if current_user %>
  </div>
    
    
    <p>Redirecionando...</p>
      <meta http-equiv="refresh" content="0;url = page/index">
    <% end %>

  <% end %>
</body>