// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


head{
    //text-align: center;
}

h1{
    //text-align: center;
}

body{
    text-align: center;
    background: White ;//#F0E68C;
    margin-right: auto;
    margin-left: auto;
}
div{
   //text-align: right; 
}
.form{
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
